<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
    {{- $image := resources.Get "imgs/favicon.ico"}}
    <link rel="icon" type="image/x-icon" href="{{ $image.RelPermalink }}">
    {{ partialCached "head/css.html" . }}

    {{ $revealStyle := resources.Get "reveal.css" }}
    <link rel="stylesheet" href="{{ $revealStyle.RelPermalink }}" />

    {{ partialCached "head/js.reveal.html" . }}
    {{ partialCached "head/js.html" . }}
    <style>
        #user-image-placeholder {
            position: unset;
            right: unset;
            transform: scale(1.25);
            z-index: unset;
        }
    </style>
</head>

<body class="flex flex-col min-h-screen font-light font-lexend">
    <div class="reveal">
        {{ block "main" . }}{{ end }}
    </div>
</body>

</html>