{{ define "main" }}

  <section class="relative w-full h-fit z-10 [&+section]:pt-16">
    <div class="absolute w-full h-full" id="slide-container"></div>

    <div class="absolute w-full h-full bg-black/25" id="slide-container-overlay"></div>

    <div class="w-full flex flex-col justify-start items-center font-medium gap-4 md:gap-[calc(101vh-35vh-32rem+8rem)] pt-4 md:pt-[25vh] relative">
        <h1 class="text-white text-2xl md:text-4xl lg:text-4xl xl:text-6xl text-center shadow-black [text-shadow:_0_1px_0_var(--tw-shadow-color)]">
          <span class="inline-block after:block after:h-2 after:-z-10 after:bg-blue-400/50">
            Weil wir immer für Sie da sind!
          </span>
        </h1>

        <div class="flex flex-row flex-wrap w-full gap-8 -mb-8 justify-evenly">

        <!-- Termine -->
        <div class="w-full sm:min-w-[350px] flex-shrink-0 animate__animated animate__fadeIn [--animate-duration:1s] animate__delay-1s [--animate-delay:250ms] h-72 sm:w-[25%] text-center flex flex-col justify-between items-center text-base shadow-xl p-6 rounded-sm bg-blue-500 bg-opacity-95 text-white gap-4 ring-2">
            <h3 class="space-x-2 uppercase">
                <span class="inline-block font-light after:block after:h-2 after:-z-10 after:bg-teal-400/50">
                  Termine
                </span>
            </h3>

            <h1 class="text-2xl font-lexend">
              <a href="tel:+4328432800">02843/2800</a>
            </h1>

            <span class="text-sm">Individuelle Termine nach telefonischer Vereinbarung.</span>
            <span><u><b>Behandlung nur mit Termin möglich</b></u></span>
        </div>

        <!-- Öffnungszeiten -->
        <div class="w-full sm:min-w-[350px] flex-shrink-0 animate__animated animate__fadeIn [--animate-duration:1s] animate__delay-1s [--animate-delay:750ms] h-72 sm:w-[25%] text-center flex flex-col justify-between items-center text-base shadow-xl p-6 rounded-sm bg-blue-500 bg-opacity-95 text-white gap-4 ring-2">
            <h3 class="space-x-2 uppercase">
                <span class="inline-block font-light after:block after:h-2 after:-z-10 after:bg-teal-400/50">
                  Öffungszeiten
                </span>
            </h3>

              <div class="flex flex-col flex-1 gap-2 text-sm justify-evenly">
                <div class="flex justify-between gap-4 pb-2 border-b border-dashed">
                    <span class="text-left">Montag, Mittwoch und Freitag</span>
                    <div class="whitespace-no-wrap"><b>08:00 - 12:00</b><br><b>14:00 - 17:00</b></div>
                </div>
                <div class="flex justify-between gap-4 pb-2 border-b border-dashed">
                    <span class="text-left">Dienstag und Donnerstag</span>
                    <div class="whitespace-no-wrap"><b>08:00 - 12:00</b><br><b>14:00 - 18:00</b></div>
                </div>
                <div class="flex justify-between gap-4 pb-2 border-b border-dashed">
                    <span class="text-left">Samstag</span>
                    <div class="whitespace-no-wrap"><b>09:00 - 12:00</b></div>
                </div>

                <span>Notdienst rund um die Uhr!</span>
            </div>
        </div>

        <!-- Notfall -->
        <div class="w-full sm:min-w-[350px] flex-shrink-0 animate__animated animate__fadeIn [--animate-duration:1s] animate__delay-1s [--animate-delay:1250ms] h-72 sm:w-[25%] text-center flex flex-col justify-between items-center text-base shadow-xl p-6 rounded-sm bg-blue-500 bg-opacity-95 text-white gap-4 ring-2">
            <h3 class="space-x-2 uppercase">
                <span class="inline-block font-light after:block after:h-2 after:-z-10 after:bg-teal-400/50">
                  Notfälle
                </span>
            </h3>

            <h1 class="text-2xl font-lexend">
              <a href="tel:+4328432800">02843/2800</a>
            </h1>
                
            <span><b>Notdienst auch an Sonn- und Feiertagen</b></span>
            <span>Wir sind für Notfälle <strong>rund um die Uhr unter der oben angeführten Nummer</strong>
                    erreichbar!</span>
        </div>

        </div>
      </div>

    </div>

    {{- with index site.Data "slides" }}
    {{- range $index, $value := . }}
    <template class="hidden" data-slide="{{ (math.Add $index 1)  }}" data-slide-darken="{{ .darken | default true }}">
      {{ partial "imgh.html" (dict "src" (printf "slide/%s" .img) "imgClass" "object-top object-cover animate__animated animate__fadeIn animate__faster w-full h-full absolute top-0 left-0" "withDiv" false) }}
    </template>
    {{- end }}
    {{- end }}

  </section>

  {{- $sections := where site.RegularPages "Section" "section"}}
  {{- $sections = where $sections "Params.home" "ne" false }}
  {{- range $idx, $p := (sort $sections "File.BaseFileName" "asc") }}
    {{- $remainer := mod $idx 2}}
    {{- $align := "left"}} 
    {{- $background := $p.Param "class" | default "bg-blue-100 bg-opacity-50"}} 

    {{ if eq $remainer 0 }}
      {{ $align = "right"}}
      {{ $background = $p.Param "class" | default "bg-white"}}
    {{ end  }}

    {{ partial "section.html" (dict "context" . "align" $align "class" $background) }}

  {{- end }}

  {{- with index site.Data "team" }}
    {{- range (index . "management" )}}

  <template data-id="user-images" class="hidden">
    {{ partial "imgh.html" (dict "src" (printf "team/%s" ( .img_big | default .img_transparent )) "imgClass" "object-cover animate__animated animate__fadeIn animate__faster" "withDiv" false) }}
  </template>

    {{- end }}
  {{- end }}

{{ end }}