{{ define "main" }}
<section class="overflow-hidden relative py-4 w-full shadow-inner group md:py-8 lg:py-12 xl:py-16">
  <div class="relative z-10 p-4 m-auto max-w-screen-xl md:p-8 prose font-inter single-content">
  <h1>{{ .Title }}</h1>

  {{ .Content }}

  {{- if .Data.Pages }}
    <ul>
        {{ range .Data.Pages }}
            <li class="p-2 m-0 border-b border-gray-100 hover:bg-gray-50/50">
              <article class="p-0 mt-0">
                <h3 class="m-0 mb-2">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h3>
                <div>
                  {{ .Summary }}
                </div>
              </article>

              <div class="flex flex-row justify-between items-center p-2 mt-2 w-full text-sm text-gray-600">
                <a class="text-sky-500 no-underline" href="{{ .RelPermalink }}">Weiterlesen ... </a>

                {{ with .Date }}
                  {{ $dateMachine := .| time.Format "2006-01-02T15:04:05-07:00" }}
                  {{ $dateHuman := .| time.Format ":date_long" }}
                  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                {{ end }}
              </div>
            </li>
        {{ end }}
    </ul>
  {{- else }}
    <div class="flex flex-row gap-2 items-center p-4 bg-gray-100 rounded rounded-b">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
        </svg>
        <p class="p-0 m-0 text-sm font-inter">
          {{ ( (.Store.Get "empty-text") | default (.Param "empty-text") | default "Keine Einträge vorhanden" ) }}
        </p>
    </div>
  {{- end }}

  {{- with .Store.Get "list-footer" }}
    {{ . | $.RenderString }}
  {{- end }}

</div>
</section>
{{ end }}
